@model aspNetCoreEscuela.Models.Escuela

@{
    ViewData["Title"] = "Borrar";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estas seguro que deseas borrar esta escuela?</h3>
<div>
    <h4>Escuela</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            País
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            Dirección
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            Año de creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioDeCreacion)
        </dd>
        <dt class = "col-sm-2">
            Tipo de escuela
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEscuela)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EscuelaID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
