@model aspNetCoreEscuela.Models.Escuela

@{
    ViewData["Title"] = "Detalle";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Escuela</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            País
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            Dirección
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            Año de creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioDeCreacion)
        </dd>
        <dt class = "col-sm-2">
            Tipo de escuela
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEscuela)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EscuelaID">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
