@model IEnumerable<aspNetCoreEscuela.Models.Escuela>

@{
    ViewData["Title"] = "Lista de Escuelas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear Escuela</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                País
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                Dirección
            </th>
            <th>
                Año de creación
            </th>
            <th>
                Tipo de escuela
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioDeCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEscuela)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscuelaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EscuelaID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.EscuelaID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
