@model IEnumerable<aspNetCoreEscuela.Models.Evaluacion>

@{
    ViewData["Title"] = "Lista de evaluaciones";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear evaluación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignatura.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvaluacionID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EvaluacionID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.EvaluacionID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
