@model IEnumerable<aspNetCoreEscuela.Models.Asignatura>

@{
    ViewData["Title"] = "Lista de asignaturas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear asignatura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AsignaturaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AsignaturaID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.AsignaturaID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
