@model IEnumerable<aspNetCoreEscuela.Models.Curso>

@{
    ViewData["Title"] = "Lista de cursos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escuela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escuela.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CursoID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
